.cart {
    margin-top: 120px;
}

.hideEmptyCart {
    display: none;
}

.emptyCart {
    display: block;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart h4 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartContainer {
    margin: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background: #e7e7e7;
    padding: 23px;
}

.cartImg img {
    height: 100px;
}

.cartSubtotal {
    text-align: center;
}

.inputQuantity input {
    width: 20%;
}

.buy {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 5px 20px 5px 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.buy hr {
    width: 100vw;
}

.confirmationMessage {
    display: none;
    flex-direction: column;
    word-wrap: break-word;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: black;
    color: white;
    position: fixed;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    height: 60%;
    width: 60%;
    z-index: 999;
    text-align: center;
    opacity: 0.9;
  }
  
  /* Estilo para el mensaje de carrito vacío */
  .emptyCartMessage {
    display: none;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  
  /* Estilo para mostrar los mensajes */
  .confirmationMessage.show,
  .emptyCartMessage.show {
    display: flex;
    animation: fadeInOut 9s ease; 
  }
  
  /* Animación de entrada/salida */
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
  }

  .showMoreProductsLink{
    margin: 0px auto;
    padding: 20px;
    color: blue;
  }

  .showMoreProductsLink:hover{
    color: #f44336;
  }