.customizedText{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat";
    letter-spacing: 2px;
    margin: 10px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: 0px auto;
  }

  .customizedText::before, .customizedText::after{
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #fd0404;
    position: relative;
    top: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
  }